.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #374151;
  width: 100%;
}

.header-logo {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}

.header-titre {
  font-size: 22px;
  font-weight: bold;
  color: #FFFFFF;
}

.header-titre-accent {
  color: var(--couleur-vert);
}

.header-sous-titre {
  font-size: 13px;
  font-style: italic;
  color: var(--couleur-texte-clair);
  text-align: center;
  margin-top: 4px;
}